

<%- contentFor('body')%>
<div class="container">
 <div class="row content">
  <div class="col-sm-2 sidenav">

   <div style="height: 300px; background-image: url(/images/mosque.jpg);"></div>

 </div>
 <div class="col-sm-8 text-left">
  <h2 class="headerTitle"><p class="text-center">Islam will Enter Every Home</p></h2>
  <br>

  <div class="form-group text-center">
    <div class="col-md-6 col-md-offset-3 ">              
     <select id="catagory" onchange="run()" style="width: 230px; height: 25px;">
       <option >Select Speaker Name</option>
       <option >Ismail Menk</option>
       <option >Dr. Zakir Naik</option>
       <option >Nouman-Ali-Khan</option>
       <option >Fariq Naik</option>
       <option >Yasir Qadhi</option>  
       <option >Others</option>  
     </select>

   </div>
 </div>

 <br>
 <br>
 <br>

 <div id="wasContent">
   <ul> 

    <% for(var i=0; i<data.length; i++) { %>

    <div class="embed-responsive embed-responsive-16by9" id="videValue">

      <iframe class="embed-responsive-item" id="videData" src=<%= data[i].url %>></iframe>

    </div>
    
    <li>
      Speaker: <%= data[i].name %>
      <br>
      Title: <a href="/details?url=<%= data[i].url %>&name=<%= data[i].name %>&title=<%= data[i].title %>&type=video&wasType=english" target="_blank"><%= data[i].title %></a>
      <br>
      <%if(userInfo){%>
      ID: <%= data[i].id %>
      <% }%>  
      <br>
      <br>
    </li>
    <% } %>
  </ul>
</div>

</div>
<div class="col-sm-2 sidenav">
  <div class="well">
   <p class="text-center"> Search By Topics<br><select name="wasCatatory" id="topicName" onchange="topic()" style="width: 95%; height: 35px;">
    <option >Select Topics</option>
    <option value="Faith">Faith</option>
    <option value="Salat">Salat</option>
    <option value="Fasting">Fasting</option>
    <option value="Zakat">Zakat</option>
    <option value="Hajj">Hajj</option>       
    <option value="Shirk ">Shirk</option>
    <option value="Innovations">Innovations</option>
    <option value="Jannat">Jannat</option>
    <option value="Jahannam">Jahannam</option>
    <option value="Drug">Drug</option>
    <option value="Music">Music</option>
    <option value="Adultery">Adultery</option>
    <option value="Mercy">Mercy</option>
    <option value="Bank Interest">Bank Interest</option>
    <option value="Others">Others</option>


  </select> </p>
</div>
<div class="well">
  <p class="text-center">Apps</p>
</div>

<div class="scrollToTop">

  <a id="back-to-top" href="#">
   <i class="fa fa-arrow-circle-o-up" style="font-size:50px"></i>
 </a>
</div>
</div>
</div>

<div id="loader">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="lading"></div>
</div>


<div class="col-md-6 col-md-offset-3" style="text-align: center;">

  <div id="showResult" role="alert"></div>

</div>

</div>

<hr>



<!-- Pagination -->
<% if (pageCount > 1) { %>  
<div class="row text-center" id="pager">
  <div class="col-lg-12">
    <ul class="pagination">
      <% if (currentPage > 1) { %>
      <li><a href="/englishWasBySpeaker/speaker/<%= speakerName %>?page=1">&laquo;</a></li>
      <% } %>
      <% var i = 1;
      if (currentPage > 5) {
      i = +currentPage - 4;
    } %>
    <% if (i !== 1) { %>
    <li class="disabled"><a href="#">...</a></li>
    <% } %>
    <% for (i; i<=pageCount; i++) { %>
    <% if (currentPage == i) { %>
    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
    <li><a href="/englishWasBySpeaker/speaker/<%= speakerName %>?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == (+currentPage + 4)) { %>
    <li class="disabled"><a href="#">...</a></li>
    <% break; } %>
    <% } %>
    <% if (currentPage != pageCount) { %>
    <li><a href="/englishWasBySpeaker/speaker/<%= speakerName %>?page=<%= pageCount %>">&raquo;</a></li>
    <% } %>
  </ul>  

</div>
</div>
<% } %>  
<!-- /.row -->



<script type="text/javascript">
  $("#loader").hide();
  function run(){
    var name = $("#catagory").val();

 // window.location.replace('http://localhost:3000/api/name/'+name);

 window.location.assign('/englishWasBySpeaker/speaker/'+name);
// $("#loader").show();
// $("#wasContent ul").empty();

// if(name==="Select Speaker Name"){
//   $("#loader").hide();
// }else {

// $.ajax({
//   url: '/englishVideoBySpeaker/speaker/'+name,
//   type: 'GET',
//   dataType: 'json',
//                     //data: $("#email").val(),
//                     //data: JSON.stringify(content),
//                     headers: {
//                       'Content-Type': 'application/json;charset=utf-8'
//                     },
//                     success: function(dataValue, textStatus, jQxhr) {
//                       $("#loader").hide();
//                       var value = dataValue.data;

//                       if(value.length>0)
//                       {
//                         $("#showResult").hide();

//                         for (var i = 0; i < value.length; i++) {

//                           var outerDiv = $("<div></div>");
//                           outerDiv.attr("class","embed-responsive embed-responsive-16by9");

//                           var innerDiv = $("<iframe src="+value[i].url+"></iframe>");
//                           innerDiv.attr("class","embed-responsive-item");

//                           outerDiv.append(innerDiv);

//                          $("#wasContent ul").append(outerDiv);


//                           var urltitle = $("<a>"+value[i].title+"</a>");


//                           urltitle.attr("href","/details?url="+value[i].url+"&name="+value[i].name+"&title="+value[i].title+"&type=video&wasType=english");

//                           urltitle.attr("target","_blank");     

//                           $("#wasContent ul").append("Speaker:&nbsp"+value[i].name+"<br>");
//                           $("#wasContent ul").append("Title:");
//                           $("#wasContent ul").append(" ");
//                           $("#wasContent ul").append(urltitle);
//                           <%if(userInfo){%>
//                                $("#wasContent ul").append("<br> ID:"+value[i]._id+"<br><br>"); 
//                               <% }else{ %>  
//                                 $("#wasContent ul").append("<br><br>"); 
//                               <%}%>



//                        }
//                      }
//                      else{

//                        $("#showResult").show().addClass("alert alert-info").text("Waz will be uploaded Soon");

//                      }


//                    },
//                    error: function(jqXhr, textStatus, errorThrown) {



//                    }
//                  })
// .done(function(reuslt) {

// })
// .fail(function() {
//   console.log("error");
// })
// .always(function() {
//   console.log("complete");
// });

// }

}

function topic(){
  var topicName = $("#topicName").val();

  //window.location.assign('/wascatagory/englishWas/'+topicName);

  $("#loader").show();
  $("#wasContent ul").empty();

  $("#pager").remove();

  if(topicName==="Select Topics"){
    $("#loader").hide();
  }else {


    $.ajax({
      url: '/wascatagory/englishWas/'+topicName,
      type: 'GET',
      dataType: 'json',
                    //data: $("#email").val(),
                    //data: JSON.stringify(content),
                    headers: {
                      'Content-Type': 'application/json;charset=utf-8'
                    },
                    success: function(dataValue, textStatus, jQxhr) {
                      $("#loader").hide();
                      var value = dataValue.data;

                      if(value.length>0)
                      {
                        $("#showResult").hide();

                        for (var i = 0; i < value.length; i++) {

                          var outerDiv = $("<div></div>");
                          outerDiv.attr("class","embed-responsive embed-responsive-16by9");

                          var innerDiv = $("<iframe src="+value[i].url+"></iframe>");
                          innerDiv.attr("class","embed-responsive-item");

                          outerDiv.append(innerDiv);

                          $("#wasContent ul").append(outerDiv);


                          var urltitle = $("<a>"+value[i].title+"</a>");


                          urltitle.attr("href","/details?url="+value[i].url+"&name="+value[i].name+"&title="+value[i].title+"&type=video&wasType=english");

                          urltitle.attr("target","_blank");     

                          $("#wasContent ul").append("Speaker:&nbsp"+value[i].name+"<br>");
                          $("#wasContent ul").append("Title:");
                          $("#wasContent ul").append(" ");
                          $("#wasContent ul").append(urltitle);
                          <%if(userInfo){%>
                           $("#wasContent ul").append("<br> ID:"+value[i]._id+"<br><br>"); 
                           <% }else{ %>  
                            $("#wasContent ul").append("<br><br>"); 
                            <%}%>
                            


                          }
                        }
                        else{

                         $("#showResult").show().addClass("alert alert-info").text("Waz will be uploaded Soon");

                       }


                     },
                     error: function(jqXhr, textStatus, errorThrown) {



                     }
                   })
    .done(function(reuslt) {

    })
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      console.log("complete");
    });

  }

}



</script>