<%- contentFor('body')%>
<div class="container">
 <div class="row content">
   <div class="col-sm-2 sidenav">
     <p class="text-left"><b>Top islamic Web App</b></p>
     <p><i class="fa fa-external-link" style="font-size:16px">&nbsp<a href="https://quran.com/" target="_blank">Al Quran</a></i></p>
     <p><i class="fa fa-external-link" style="font-size:16px">&nbsp<a href="http://quranicaudio.com/" target="_blank">QuranicAudio</a></i></p>
     <p><i class="fa fa-external-link" style="font-size:16px">&nbsp<a href="http://tanzil.net/" target="_blank">Recite Al Quran</a></i></p>
     <p><i class="fa fa-external-link" style="font-size:16px">&nbsp<a href="http://at-tahreek.com/" target="_blank">Islamic Paper</a></i></p>
      <p><i class="fa fa-external-link" style="font-size:16px">&nbsp<a href="http://tawhidmedia.com/" target="_blank">Tawhidmedia</a></i></p>
     <p><i class="fa fa-external-link" style="font-size:16px">&nbsp<a href="http://www.banglaquranhadith.com/" target="_blank">Banglaquranhadith</a></i></p>
   </div>
   <div class="col-sm-8 text-left">
    <h2 class="headerTitle"><p class="text-center">Islam will Enter Every Home</p></h2>
    <br>
    <br>
    <br>

    <div class="form-group">
      <label class="control-label col-sm-2" for="title">Category:</label>
      <div class="col-sm-10">         
        <select id="catagory" onchange="run()" style="width: 230px; height: 25px;">
         <option >All</option>
         <option >ড. যাকির নায়েক</option>
         <option >আব্দুর রায্‌যাক বিন ইউসুফ</option>
         <option >শাইখ মতিউর রহমান মাদানী</option>
         <option >শাইখ শহীদুল্লাহ খান মাদানী</option>
         <option >মুযাফফর বিন মুহসিন</option>
         <option >সিফাত হাসান</option>
         <option >শাইখ আমানুল্লাহ মাদানী</option>
         <option >ড. মুহাম্মাদ সাইফুল্লাহ</option>
         <option >মুফতি কাজী মুহাম্মাদ ইব্রাহীম</option>
         <option >ড. মোহাম্মদ মুছলে উদ্দিন</option>       
         <option >ড. মনজুরে ইলাহী</option>
         <option >মুহাম্মাদ আসাদুল্লাহ আল-গালিব</option>
         <option >অন্যান্য </option>
       </select>

     </div>
   </div>


   <br>
   <br>
   <br>

   <ul>

     <% for(var i=0; i<data.length; i++) { %>
     <li>
       
       <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src=<%= data[i].url %>></iframe>
      </div>
      <br>

      বক্তাঃ <%= data[i].name %>
      <br>
      বিষয়ঃ <a href="<%= data[i].url %>" target="_blank"><%= data[i].title %></a>
      <br>
      ID: <%= data[i].id %>
      <br>

      <br>
    </li>
    <% } %>
  </ul>

</div>
<div class="col-sm-2 sidenav">

 <div class="well">
   <p class="text-center"> Search By Topics<br><select id="topicName" onchange="topic()"  style="width: 95%; height: 35px;">
    <option >বিষয় নির্বাচন</option>
    <option value="ঈমান">ঈমান</option>
    <option value="সালাত">সালাত</option>
    <option value="সিয়াম">সিয়াম</option>
    <option value="যাকাত">যাকাত</option>
    <option value="হজ্জ">হজ্জ</option>       
    <option value="শির্ক">শির্ক</option>
    <option value="বিদআত">বিদআত</option>
    <option value="জান্নাত">জান্নাত</option>
    <option value="জাহান্নাম">জাহান্নাম</option>
    <option value="নেশা">নেশা</option>
    <option value="গানবাজনা">গানবাজনা</option>
    <option value="যেনা ব্যাভিচার">যেনা ব্যাভিচার</option>
    <option value="সুদ">সুদ</option>
    <option value="দয়া ও রহমত">দয়া ও রহমত</option>
    <option value="অন্যান্য">অন্যান্য</option>
    
  </select> </p>
</div>

<div class="well">
  <p class="text-center">Apps</p>
</div>

</div>
</div>
</div>

<hr>

<!-- Pagination -->
<% if (pageCount > 1) { %>  
<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      <% if (currentPage > 1) { %>
      <li><a href="/videoWas?page=1">&laquo;</a></li>
      <% } %>
      <% var i = 1;
      if (currentPage > 5) {
      i = +currentPage - 4;
    } %>
    <% if (i !== 1) { %>
    <li class="disabled"><a href="#">...</a></li>
    <% } %>
    <% for (i; i<=pageCount; i++) { %>
    <% if (currentPage == i) { %>
    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
    <li><a href="/videoWas?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == (+currentPage + 4)) { %>
    <li class="disabled"><a href="#">...</a></li>
    <% break; } %>
    <% } %>
    <% if (currentPage != pageCount) { %>
    <li><a href="/videoWas?page=<%= pageCount %>">&raquo;</a></li>
    <% } %>
  </ul>  

</div>
</div>
<% } %>  
<!-- /.row -->



<script type="text/javascript">
 function run(){
  var name = $("#catagory").val();

 // window.location.replace('http://localhost:3000/api/name/'+name);

 window.location.replace('/videoBySpeaker/speaker/'+name);

}


function topic(){
  var topicName = $("#topicName").val();

 // window.location.replace('http://localhost:3000/api/name/'+name);  

 window.location.replace('/wascatagory/videoWas/'+topicName);

}


</script>